{% extends "layout.html" %}
{% block body %}
    <div class="container">
      <h1>Shell Registration Service</h1>
      <br>
      <form action="" method="post">
        {{ form.shell_type.label }}: {{ form.shell_type(placeholder='php') }}
        <br>
        {{ form.shell_url.label }}: {{ form.shell_url(placeholder='http://localhost:8000') }}
        <br>
        <input class="btn btn-default" type="submit" value="Register">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}

    </div>
{% endblock %}
